{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username(class="form-control") }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password(class="form-control") }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
